.score_row .first_colomn {
    box-sizing: border-box;
    width: 440px;
}

.score_row .tipic_colomn {
    box-sizing: border-box;
    width: 108px;
}

.score_row .last_colomn {
    box-sizing: border-box;
    width: 134px;
}

#green-color {
    color: #69B849;
}

#red_color {
    color: #E93E3E;
}