.auth_body {
    background: rgba(246, 246, 246, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
}

#authorization_container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    padding: 40px 24px;
    gap: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 16px;
}

.data {
    display: flex;
    flex-direction: column;
    gap: 12px;
}