.button {
    display: flex;
    border: none;
    justify-content: center;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    border-radius: 12px;
    flex: none;
}

.background-default-green {
    width: 352px;
    height: 48px;
    color: #FFFFFF;
    background: #60C2AA;
}

.background-default-green:hover {
    background: #3BA189;
}

.unavailable {
    background: rgba(96, 194, 170, 0.3);
}

.back-menu {
    width: 352px;
    height: 48px;

    color: #373745;
    background: #F7F7F7;
}

.back-menu:hover {
    background: #DCDCDF;
}

.background-invite-player {
    padding: 12px 20px;
    gap: 8px;
    height: 48px;
    width: 161px;
    background: #60C2AA;
    border-radius: 12px;
    letter-spacing: 0.24px;
    color: #FFFFFF;
}

.disable {
    background: #F7F7F7;
    opacity: 0.3;
    color: #373745;
}

.background-add-player {
    padding: 12px 20px;
    gap: 8px;
    height: 48px;
    width: 173px;
    background: #60C2AA;
    letter-spacing: 0.24px;
    color: #FFFFFF;
}

.background-lock {
    padding: 8px 16px;
    gap: 8px;

    height: 40px;
    background: #F7F7F7;
    border-radius: 8px;

    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.unlock {
    width: 174px
}

.block {
    width: 183px
}