#chat-container {
    box-sizing: border-box;
    margin-bottom: 88px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    padding: 0px 0px;
    gap: 20px;
    width: 412px;
    height: 452px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #373745;
}

.msgs-container {
    box-sizing: border-box;
    height: 384px;
    width: 412px;
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 12px;
}