.player-winner-loser {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    padding: 4px 8px;
    gap: 8px;
    white-space: nowrap;

    width: 198px;
    height: 24px;

    border-radius: 4px;

    flex: none;
    order: 0;
    flex-grow: 0;
}