th .player-list_row {
    height: 48px;
}

tr .player-list_row {
    height: 64px;
}

.player-list_row {
    display: flex;
    flex-direction: row;
    padding: 4px 0px;
    gap: 16px;
    width: 1352px;
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px #EEEFF5;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.player-list_row .first_colomn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    gap: 10px;

    width: 424px;
    margin: 0;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.player-list_row .age_colomn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    gap: 10px;

    width: 92px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.player-list_row .gender_colomn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    gap: 10px;

    width: 30px;

    flex: none;
    order: 2;
    flex-grow: 0;
}

.player-list_row .status_colomn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    gap: 10px;

    width: 136px;

    flex: none;
    order: 3;
    flex-grow: 0;
}

.player-list_row .tipic_colomn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    gap: 10px;

    width: 144px;

    flex: none;
    order: 4;
    flex-grow: 0;
}

.player-list_row .last_colomn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 10px;

    width: 174px;

    flex: none;
    order: 6;
    flex-grow: 1;
}